body, html {
    font-family: 'arial Verdana', Courier, monospace;
    
    background-image: url("IMG/hedelmätausta.jpg");  
    


    /* Height*/
    height: 100%;

    /*karkaus esto*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



    
}


 

.info { 
    margin: auto;   
    width: 50%;  
    border: 6px black;
    padding: 10px; 
}

.wheat {
    background-color: khaki;
}

.center {
    text-align: center;
}

.slots {
    background-color: aliceblue;
    width: 80%;
    margin: 10px auto;
    border: 6px black;
    padding: 10px;
    

}
.painike {
    border: green;
    width: 50%
    
}


